.boxlid-wrapper
	{
		width:600px;
		height:600px;
		resize:both;
		overflow:hidden;
		border:1px solid black;
		padding:5px;
	}
.boxlid-panel
	{
		position:relative;
	}
.boxlid-handle
	{
		background-color:white;
		/*background-color:transparent;*/
		opacity:0.5;
		position:absolute;
	}
.boxlid-hor-handle
	{
		height:10px;
		width:100%;
	}
.boxlid-vert-handle
	{
		height:100%;
		width:10px;
	}
/* to take up the space above the top handle */
.boxlid-top-content
	{
		height:95%;
	}
.boxlid-top-panel
	{
		display:inline-block;
		background-color:red;
		width:80%;
		height:20%;
		float:left;
		border-bottom:1px solid black;
	}
.boxlid-top-handle
	{
		bottom:0%;
	}
.boxlid-right-panel
	{
		display:inline-block;
		background-color:green;
		width:20%;
		height:80%;
		float:right;
		border-left:1px solid black;
	}
.boxlid-right-handle
	{
		left:0%;
	}
.boxlid-left-panel
	{
		display:inline-block;
		background-color:blue;
		width:20%;
		height:80%;
		float:left;
		border-right:1px solid black;
	}
.boxlid-left-handle
	{
		right:0%;
	}
.boxlid-bottom-panel
	{
		display:inline-block;
		background-color:yellow;
		width:80%;
		height:20%;
		border-top:1px solid black;
	}