.settinggroup
{
	text-align:left;
	margin:10px;
	padding-bottom:20px;
	width:200px;
}
.settinggroup>:first-child
{
	border-radius:4px;
}
.tessHeader
{
	margin-left:-8px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.collapseArrow
{
	width:28px;
	height:28px;
	/*background-color:white;*/
	background-image:url(images/collapse_arrow.png);
	background-size:20px 20px;
	background-repeat:no-repeat;
	background-position:center;
	/*margin-top: -5px;
	margin-left: -5px;*/
	margin-left:-6px;
	float:left;
	rotation-point:50% 50%;
	/*rotation:90deg;*/
	&>.collapseArrow {
		/* TODO rotate to create a right facing arrow when collapsed */
		/*-webkit-transform:rotate(-90deg);*/
		background-image:url(images/expand_arrow.png);
	};
}
/* TODO this puts a divider between adjacent headers (if it is correct) */
div:only-child.tessHeader
{
	/*border-bottom:1px solid #333333;*/
}
.tessHeader.selected
{
	background-color:#333333;
}
.tessUI
{
	padding-left:6px;
}
#tessdefcontainer
{
	.tessUI {
		color:white;
	}
	&>.tessUI
	{
		background-color:#555555;
		&>.tessUI {
			background-color:#777777;
			&>.tessUI {
				background-color:#999999;
				&>.tessUI {
					background-color:#BBBBBB;
				}
			}
		}
	}
}
.tessSection
{
	background-image:url(images/menuOverlay.png);
	background-repeat:repeat-x;
	padding-right:3px;
}
/* the following two add a bottom padding to last sections if they are open */
/* add the padding to the bottom of last sections if they are open */
.tessSection:last-child:not(.collapsed)
{
	padding-bottom:6px;
	&>.tessUI:last-child {

		border-bottom-left-radius:4px;
		border-bottom-right-radius:2px;
	}
}
/* "remove padding" by making negative margin in the child header */
/* so that sections with no content don't have the extra padding */
.tessSection:last-child:not(.collapsed)>.tessHeader:last-child
{
	margin-bottom:-6px;
}
.vecEditField
{
	width:40px;
}
.editButton
{
	float:right;
	margin-right:4px;
	/* TODO make this an image */
}
.vecEditSubmit
{
	float:right;
	/* TODO make this an image */
}
.collapsed
{
	background-color:#888888;
}
.collapsed>*
{
	display:none;
}
.collapsed>.collapseArrow,.tessHeader
{
	display:block;
}