
#testcanvas {
	border:solid black 1px;
}

header
{
	text-align:center;
	border-bottom:1px solid black;
}
.visibleWhenLoaded
{
	display:none;
}
#tessellation
{
	width:801px;
	height:601px;
	border:1px dotted #000000;
	/*padding:2px;*/
	/*margin-left:auto;
	margin-right:auto;*/
	/*box-shadow: 0 0 10px #888888;*/
}
.outercontainer
{
	/*margin-left:auto;
	margin-right:auto;
	width:1024px;*/
}
.rightmenu
{
	/*position:absolute;*/
	background-color:white;
	border:1px solid #888888;
	border-radius:10px;
	/*box-shadow: 3px 3px 5px #888888;*/
	float:left;
	width:200px;
	margin-top:19px;
	/*margin-left:auto;*/
	margin-left:0px;
	margin-right:10px;
	/*margin-right:auto;*/
	padding-top:10px;
	padding-left:30px;
	/*border:1px dotted;*/
	text-align:center;
	padding-right:30px;
}
.settinggroup
{
	text-align:left;
	padding-top:20px;
	/*padding-left:30px;*/
	padding-bottom:20px;
}
.settinggroup>:first-child
{
	/*padding-left:-10px;*/
	margin-left:-10px;
}
.tessHeader
{
	/*background-color:#444488;*/
	/*background-color:#4444dd;*/
	margin-left:-10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-image:url(images/menuOverlay.png);
	background-repeat:repeat-x;
}
.collapseArrow
{
	width:28px;
	height:28px;
	/*background-color:white;*/
	background-image:url(images/collapse_arrow.png);
	background-size:20px 20px;
	background-repeat:no-repeat;
	background-position:center;
	/*margin-top: -5px;
	margin-left: -5px;*/
	margin-left:-10px;
	float:left;
	rotation-point:50% 50%;
	/*rotation:90deg;*/
}
.collapsed>.collapseArrow
{
	/* TODO rotate to create a right facing arrow when collapsed */
	/*-webkit-transform:rotate(-90deg);*/
	background-image:url(images/expand_arrow.png);
}
.tessUI
{
	background
}
/* TODO this puts a divider between adjacent headers (if it is correct) */
div:only-child.tessHeader
{
	/*border-bottom:1px solid #333333;*/
}
.tessHeader.selected
{
	background-color:#333333;
}
.tessUI
{
	padding-left:10px;
	/*background-color:#444488;*/
}
#tessdefcontainer
{
	/*color:white;
	background-color:black;*/
}
#tessdefcontainer .tessUI
{
	color:white
}
#tessdefcontainer>.tessUI
{
	background-color:#555555;
}
#tessdefcontainer>.tessUI>.tessUI
{
	background-color:#777777;
}
#tessdefcontainer>.tessUI>.tessUI>.tessUI
{
	background-color:#999999;
}
.collapsed
{
	background-color:#888888;
}
.collapsed>*
{
	display:none;
}
.collapsed>.collapseArrow,.tessHeader
{
	display:block;
}
.colorPickerContainer
{
	/*position:relative;*/
}
.colorpicker
{
	/*background-color:white;*/
	/*border:10px ridge black;*/
}
.colorText
{
	width:50px;
}
/* TODO position color preview nicely */
.colorPreview
{
	background-color:#000000;
	/*width:15px;
	height:15px;*/
	width:10px;
	height:10px;
	/*margin-top:auto;
	margin-bottom:auto;*/
	/* TODO display:inline won't let this take space */
	display:inline-block;
	/*display:inline;*/
	/*padding: 0px;*/
	/*margin-top:2px;
	margin-bottom:2px;*/
	cursor:pointer;
}
#scaleslider
{
	width:75%;
}
.urltext
{
	/* TODO */
	width:90%;
}
.centralui
{

}
.toolbar
{
}
canvas
{
}
.menucommand
{
	/*position:relative;*/
	/*height:100px;*/
	color:#0000ee;
	text-decoration: underline;
}
.commandinfo>form
{
	display:inline;
}
.commandinfo
{
	display:inline;
	/*display:inline;*/
	/*display:inline-block;*/
	/*height:100%;*/
}
.savecommand
{
	
}
.loadcommand
{
	position:relative;
	/*left:0;*/ /*top:20px;*/
}
.commandinfo>input
{
	
	position:relative;
	top:0;
}
.commanddivider
{
	margin-left:8px;
	margin-right:8px;
}
.gallery-wrapper {
	/*position: relative;*/
	/*text-align: center;*/
}
.gallery {
	position:relative;
	/*text-align: center;*/
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:10px;
	width:800px;
	height:200px;
	border:1px solid #0000EE;
}
.preview-likes {
	margin-right:4px;
}
.likes {
	color:green;
}
.preview-dislikes {
	margin-left:4px;
}
.dislikes {
	color:#CD0A0A;
}
.preview-container {
	display:inline;
	float:left;
	padding:10px;
	text-align: center;
}
.preview {
}
footer
{
	margin-top:10px;
	text-align:center;
	clear:both;
}
.error-wrap
{
	display:none;
}
